
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #ffffff;
  background-image: url("../assets/light-wool.png")!important;
  font-family: "Open Sans";
  font-size: 16px;
}
div {
  padding: 0;
  margin: 0;
}
a {
  /*text-decoration: none;*/
  color: black;
}
h1>a {
  text-decoration: none;
}
p {
  font-size: 100%;
  white-space: pre-line;
}
h2, h3 {
  font-family: "Raleway";
}

.contentbox {
  font-family: "Open Sans";
  font-size: 150%;
  height: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20%;
}
.contentbox>span {
  font-family: "Raleway";
  font-size: 900%;
  padding: 20px 0px;
  color: rgba(0, 0, 0, 0.2);
}
#intro>div {
  font-size: 80%;
  max-width: 500px;
  padding: 20px 40px;
  white-space: pre-line;
}
#about>div {
  font-family: "Open Sans";
  font-size: 80%;
  max-width: 900px;
  margin: 10% 0%;
  padding: 20px 40px;
  white-space: pre-line;
}

.boxfortiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar {
  height: 100vh;
  width: 20%;
  min-width: 225px;
  font-family: "Raleway";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  position: fixed;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
}
.item {
  text-align: left;
  margin-left: 60px;
  padding: 15px 0px;
  border-right: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: border-color 0.5s 0.1s linear;
  transition: border-color 0.5s 0.1s linear;
}
.titlearea h1, .titlearea h3 {
/*   border: 2px solid red; */
  text-align: left;
  margin: 25px 0px 25px 60px;
  opacity: 0.8;
}
.titlearea h1 {
   font-size: 240%; 
}
.titlearea h3 {
  font-size: 130%;
}
h3 span {
  font-size: 65%;
}
.subhead {
  font-size: 120%;
}
.titlearea {
  padding-bottom: 20px;
  margin-left: -10px;
}

.item>a {
  color: black;
/*   border: 2px solid black; */
  font-size: 130%;
  text-align: center;
  text-decoration: none;
/*   min-width: 500px; */
}
.btn {
  border-radius: 6px;
  color: #27AE60;
  font-size: 60%;
  padding: 4px 7px 4px 7px;
  border: solid #27AE60 2px;
  text-decoration: none;
  white-space: nowrap;
}

.btn:hover {
  background: #27AE60;
  text-decoration: none;
  color: white;
}
.citystyle:hover {
  background: #910002;
}
.citystyle {
  color: #910002;
  border-color: #910002
}
.featureme:hover {
  background: #00a8d6;
}
.featureme {
  color: #00a8d6;
  border-color: #00a8d6;
}
.portfoliotile:hover {
  background: rgba(0, 0, 0, 0.2);
}
.portfoliotile {
  color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.3);
}
.todo:hover {
  background: #2980b9;
}
.todo {
  color: #2980b9;
  border-color: #2980b9;
}
.colorgame:hover {
  background: rgb(27, 108, 191);
}
.colorgame {
  color: rgb(27, 108, 191);
  border-color: rgb(27, 108, 191);
}
.patatap:hover {
  background: black;
}
.patatap {
  color: black;
  border-color: black;
}
/*a:hover {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}*/
.item:hover {
  border-color: black;
  
}
.active {
  border-color: black;
}

.icon>div {
  font-family: "Raleway";
  height: 80px;
  min-width: 100px;
  /*color: bla;*/
  padding: 10px;
  margin: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
#skills>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.websitetile {
  text-align: left;
  background-color: white;
  font-size: 100%;
  margin: 30px;
  padding: 20px;
  /*max-height: 600px;*/
  max-width: 350px;
  box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.43);
}
.sitetitle {
  font-weight: bold;
  margin: 0;
  font-size: 100%;
}
.imagetile h3 {
  font-size: 120%;
  margin: 0;
  border-bottom: 2px solid white;
}
.imagetile ul {
  list-style-type: none;
  padding-left: 0px;
}


.imagetile {
  position: relative;
  width: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #515A5A;
}
.imagetile:hover .overlay {
  opacity: 0.90;
}
.text {
  font-family: "Raleway";
  color: white;
  font-size: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }


.websitetile>p {
  font-family: "Open Sans";
  font-size: 70%
}
.websitetile>ul {
  list-style-type: none;
  padding-left: 0px;
}
.websitetile div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 20px 0px;
}
.emaillink {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 12px;
  }
  .sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 15vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
  }
  .section>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .titlearea {
    padding: 0;
  }
  .titlearea>h3 {
    display: none;
  }
  .titlearea>h1 {
    font-size: 180%;
    padding: 0;
    margin: 0;
  }
  .contentbox {
    max-height: 85vh;
    height: 85vh;
    width: 100vw;
    margin-left: 0px;
    overflow: auto;
    /*margin-bottom: 15%;*/
  }
  .container {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
  }
  .boxfortiles {
    max-height: 85vh;
  }
  .item {
    font-size: 110%;
    margin: 10px 10px;
    -webkit-transition: none;
    transition: none;
    padding: 2px;
  }
  .websitetile {
    max-width: 90%;
    width: auto;
  }
  .websitetile:last-of-type {
    margin-bottom: 20vh;
  }
  #about>div>p {
    margin-bottom: 25vh;
  }
  .icon>div {
    margin: 5px;
  }
  .icon>div:last-of-type {
    margin-bottom: 20vh;
  }
  .section {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap; 
   -webkit-box-align: center; 
       -ms-flex-align: center; 
           align-items: center;
  }
  .item:hover {
  border-right: 0;
  /*transition: none;*/
  }
  .active {
    border-bottom: 2px solid black;
    border-right: none;
  }
}
@media screen and (max-width: 640px) {
  body {
    font-size: 10px;
  }
  p {
    font-size: 110%;
  }
  .item {
  padding: 5px 0px;
  font-size: 110%;
  }
  div.tile img {
    max-width: 200px;
  }
  .websitetile:last-of-type {
    margin-bottom: 20vh;
  }
  #portfolio span {
    display: none;
  }
  /*.contentbox {
    padding-bottom: 30vh;
  }*/
}